@model IEnumerable<BlogWebSite.Entities.Makale>
@{
    ViewBag.Title = "Index";
}

<div class="site-section py-0">
    <div class="owl-carousel hero-slide owl-style">

        <div class="site-section">
            <div class="container">
                <div class="half-post-entry d-block d-lg-flex bg-light">
                    <img src="~/MyBlog/images/1.su.png" />
                    <div class="contents">
                        <span class="caption">İçme Suyumuz</span>
                        <h2><a href="/Makale/Index">2040 Yılında Tükenebilir!</a></h2>
                        <p class="mb-3">
                            Eğer küresel çapta üretim ve tüketim alışkanlıklarımızı değiştirmezsek 
                            Dünyamız geri dönülmeyecek bir temiz su krizi ile karşı karşıya kalabilir. 
                            Günümüzde yanlış enerji politikaları, nüfus artışı ve iklim değişikliği sebebiyle
                            tüm tatlı su kaynakları büyük risk altında. Eğer 2040 yılına kadar elimizden
                            geleni yapmaz ve önlemler almadan bugün olduğu gibi yaşamaya devam edersek içecek suyumuz kalmayacak.
                        </p>

                        <div class="post-meta">
                            <span class="d-block"><a>Doğa da Yaşam</a> Doğa <a>Ayrıcalıktır.</a></span>
                            <span class="date-read">Mart 15 <span class="mx-1">&bullet;</span> Keyifli Okumalar <span class="icon-star2"></span></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="half-post-entry d-block d-lg-flex bg-light">
                    <img src="~/MyBlog/images/2.png" />
                    <div class="contents">
                        <span class="caption">İlk Yardım Nedir ?</span>
                        <h2><a href="/Makale/Index"> </a></h2>
                        <p class="mb-3">
                            Kaza veya hayati tehlike arz eden durumlarda,
                            tıbbi yardım sağlanıncaya kadar hayatın geri kazanılmasını 
                            veya durumun bozulmasını önlemek amacıyla sağlık profesyonelleri
                            tarafından olay yerinde temel ilk yardım malzemeleri ya da mevcut araç
                            ve gereçlerle yapılan ilaçsız bir uygulamadır.
                        </p>

                        <div class="post-meta">
                            <span class="d-block"><a>İlk Yardım</a> Doğa <a>Ayrıcalıktır.</a></span>
                            <span class="date-read">Mart 17 <span class="mx-1">&bullet;</span> Keyifli Okumalar <span class="icon-star2"></span></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Araştır</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="post-entry-1">
                            <a href="https://www.kamperest.com/kis-kampi-icin-tavsiyeler/"><img src="~/MyBlog/images/kis.kamp.jpg" alt="Image" class="img-fluid"></a>
                            <h2><a href="https://www.kamperest.com/kis-kampi-icin-tavsiyeler/">Kış Kampı İçin Tavsiyeler</a></h2>
                            <p>Kış Kampı İçin Tavsiyeler </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-entry-2 d-flex bg-light">
                            <div class="thumbnail" style="background-image: url('/MyBlog/images/a.png')"></div>
                            <div class="contents">
                                <h2><a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">Bilmeniz Gereken 13 ASP.NET Core Özelliği</a></h2>
                                <div class="post-meta">
                                    <span class="d-block"> <a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">2000'lerin başlarında Microsoft tarafından yayınlanan ve daha sonrasında Microsoft’la gelişim...</a></span>

                                </div>
                            </div>
                        </div>
                        <div class="post-entry-2 d-flex bg-light">
                            <div class="thumbnail" style="background-image: url('/MyBlog/images/f.png')"></div>
                            <div class="contents">
                                <h2><a href="https://medium.com/">Introduction to functional programming with C#</a></h2>
                                <div class="post-meta">
                                    <span class="d-block"> <a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">It is no surprise that one of the biggest challenges in the enterprise software development is complexity.</a></span>

                                </div>
                            </div>
                        </div><div class="post-entry-2 d-flex bg-light">
                            <div class="thumbnail" style="background-image: url('/MyBlog/images/k.jpg')"></div>
                            <div class="contents">
                                <h2><a href="https://medium.com/">Büyük Üstad Anlatıyor. RabbitMQ Üzerine (Part -1)</a></h2>
                                <div class="post-meta">
                                    <span class="d-block"> <a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">Basit bir tanımda anlatacak olursak,RabbitMQ bir kuyruk sistemidir.</a></span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title">
                    <h2>Son Yazılarım</h2>
                </div>
                @{int a = 0;}
                @foreach (var item in Model)
                {
                    a++;

                    if (a <= 4)
                    {
                        <div class="trend-entry d-flex">
                            <div class="number align-self-start">@item.Id</div>
                            <div class="trend-contents">
                                <h2><a href="/Blog/Index/#@item.Id">@item.MakaleBaslik</a></h2>

                            </div>
                        </div>
                    }
                    else
                    {
                        break;
                    }

                }



                <p>
                    <a href="/Blog/Index" class="more">Bütün Yazıları Göster <span class="icon-keyboard_arrow_right"></span></a>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="py-0">
    <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
            <img src="~/MyBlog/images/3.yeee.jpg" width="500" height="400" />
            <div class="contents">
                <span class="caption">Kamp Önerileri İçin</span>
                <h2><a>Bir Göz Atmanızda Fayda Var.</a></h2>
                <p class="mb-3">Kampçılık tutkunlarının aradığı her şey;
                kamp sandalyesi, yemek setleri ve gereçleri, kampçılık ekipmanları
                dahilinde olan çakı, bıçak, fener, ilk yardım ve hijyen malzemeleri,
                uyku tulumu ve ekipmanları, tek kişilikten 8 kişilik çadır modellerine
                ve hatta aile çadırlarına kadar kategorilerimizde mevcuttur.
                Kusursuz ve sorunsuz bir kamp için bütün ekipmanların kaliteli ve tam olması gerekir.
                Sizin unuttuğunuz ürünleri dahi kategorilerimizde sizlere sunarak ihtiyacınız olabilecek
                malzemeleri hatırlatıyoruz. Buradaki tüm ürünler sizlerin en iyi kamp macerasını yaşamanız 
                için seçilmiştir. Kampta kullanmak için aldığınız bu ürünleri aynı zamanda tatil ya da festivallerde 
                de kullanarak kullanım alanlarını artırmış olursunuz.</p>

                <div class="post-meta">
                    <span class="d-block"><a href="https://www.kamperest.com/kamp-malzemeleri/">Gözat</a> by <a href="">Kamperest</a></span>

                </div>

            </div>
        </div>
    </div>
</div>
