@model IEnumerable<BlogWebSite.Entities.Makale>
@{
    ViewBag.Title = "Index";
}

<div class="site-section py-0">
    <div class="owl-carousel hero-slide owl-style">

        <div class="site-section">
            <div class="container">
                <div class="half-post-entry d-block d-lg-flex bg-light">
                    <div class="img-bg" style="background-image: url('/MyBlog/images/1.jpg')"></div>
                    <div class="contents">
                        <span class="caption">Motorsiklet</span>
                        <h2><a href="/Makale/Index">Kawasaki Ninja ZX-6R</a></h2>
                        <p class="mb-3">
                            2019 Kawasaki Ninja ZX-6R tanıtıldı. Yeni Ninja ZX-6R’ın USA fiyatı: 11,000 $. Yeni tasarımda küçük kardeşi Ninja 400 ile çok benzerlikleri olan 2019 Ninja ZX-6R’da bakalım ne gibi yenilikler var.
                            636cc’lik sıralı dört silindirli motor artık Avrupa ve Türkiye pazarı için Euro4’e uygun hale geldi. Şasi ve motor bloğu aynı şekilde kullanılmaya devam edilirken, dişliler değiştirilmiş.
                        </p>

                        <div class="post-meta">
                            <span class="d-block"><a>Kawasaki</a> ZX-6R <a>Ayrıcalıktır.</a></span>
                            <span class="date-read">Şubat 18 <span class="mx-1">&bullet;</span> Keyifli Okumalar <span class="icon-star2"></span></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="half-post-entry d-block d-lg-flex bg-light">
                    <div class="img-bg" style="background-image: url('/MyBlog/images/22.JPG')"></div>
                    <div class="contents">
                        <span class="caption">Motorsiklet</span>
                        <h2><a href="/Makale/Index"> </a></h2>
                        <p class="mb-3">
                            2019 Kawasaki Ninja ZX-6R tanıtıldı. Yeni Ninja ZX-6R’ın USA fiyatı: 11,000 $. Yeni tasarımda küçük kardeşi Ninja 400 ile çok benzerlikleri olan 2019 Ninja ZX-6R’da bakalım ne gibi yenilikler var.
                            636cc’lik sıralı dört silindirli motor artık Avrupa ve Türkiye pazarı için Euro4’e uygun hale geldi. Şasi ve motor bloğu aynı şekilde kullanılmaya devam edilirken, dişliler değiştirilmiş.
                            636cc’lik sıralı dört silindirli motor artık Avrupa ve Türkiye pazarı için Euro4’e uygun hale geldi. Şasi ve motor bloğu aynı şekilde kullanılmaya devam edilirken, dişliler değiştirilmiş.
                        </p>

                        <div class="post-meta">
                            <span class="d-block"><a>Kawasaki</a> ZX-6R <a>Ayrıcalıktır.</a></span>
                            <span class="date-read">Şubat 18 <span class="mx-1">&bullet;</span> Keyifli Okumalar <span class="icon-star2"></span></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>İlginizi Çekebilicekler</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="post-entry-1">
                            <a href="https://medium.com/from-the-scratch/oop-everything-you-need-to-know-about-object-oriented-programming-aee3c18e281b"><img src="/MyBlog/images/o.jpg" alt="Image" class="img-fluid"></a>
                            <h2><a href="https://medium.com/from-the-scratch/oop-everything-you-need-to-know-about-object-oriented-programming-aee3c18e281b">OOP: Object Oriented Programming</a></h2>
                            <p>An object-oriented programming is a way programming which enables programmers to think like they are working with real-life entities(a thing with distinct and independent existence) or objects.In real-life, people have knowledge and can do various works. </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-entry-2 d-flex bg-light">
                            <div class="thumbnail" style="background-image: url('/MyBlog/images/a.png')"></div>
                            <div class="contents">
                                <h2><a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">Bilmeniz Gereken 13 ASP.NET Core Özelliği</a></h2>
                                <div class="post-meta">
                                    <span class="d-block"> <a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">2000'lerin başlarında Microsoft tarafından yayınlanan ve daha sonrasında Microsoft’la gelişim...</a></span>

                                </div>
                            </div>
                        </div>
                        <div class="post-entry-2 d-flex bg-light">
                            <div class="thumbnail" style="background-image: url('/MyBlog/images/f.png')"></div>
                            <div class="contents">
                                <h2><a href="https://medium.com/">Introduction to functional programming with C#</a></h2>
                                <div class="post-meta">
                                    <span class="d-block"> <a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">It is no surprise that one of the biggest challenges in the enterprise software development is complexity.</a></span>

                                </div>
                            </div>
                        </div><div class="post-entry-2 d-flex bg-light">
                            <div class="thumbnail" style="background-image: url('/MyBlog/images/k.jpg')"></div>
                            <div class="contents">
                                <h2><a href="https://medium.com/">Büyük Üstad Anlatıyor. RabbitMQ Üzerine (Part -1)</a></h2>
                                <div class="post-meta">
                                    <span class="d-block"> <a href="https://medium.com/kodluyoruz/bilmeniz-gereken-13-asp-net-core-%C3%B6zelli%C4%9Fi-9b05a842194e">Basit bir tanımda anlatacak olursak,RabbitMQ bir kuyruk sistemidir.</a></span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title">
                    <h2>Son Eklenen Postlar</h2>
                </div>
                @{int a = 0;}
                @foreach (var item in Model)
                {
                    a++;

                    if (a <= 4)
                    {
                        <div class="trend-entry d-flex">
                            <div class="number align-self-start">@item.Id</div>
                            <div class="trend-contents">
                                <h2><a href="/Blog/Index/#@item.Id">@item.MakaleBaslik</a></h2>

                            </div>
                        </div>
                    }
                    else
                    {
                        break;
                    }

                }



                <p>
                    <a href="/Blog/Index" class="more">Bütün Yazıları Göster <span class="icon-keyboard_arrow_right"></span></a>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="py-0">
    <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
            <div class="img-bg" style="background-image: url('/MyBlog/images/5.png')"></div>
            <div class="contents">
                <span class="caption">PORTFOLYO</span>
                <h2><a>Bir Göz Atmanızda Fayda Var.</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam accusantium beatae?</p>

                <div class="post-meta">
                    <span class="d-block"><a href="">Created</a> by <a href="">Uğur Yurtseven</a></span>

                </div>

            </div>
        </div>
    </div>
</div>
